# Installs MongoDB, including configuration, on debian sysvinit based systems.
# As of 6/2014 mongo is only used by errbit (exception reporting)
#
# Bootstrapping a new mongo server and want to copy over the existing database? After finishing provisioning the new
# server with this role, log on to the new server and run:
#   > mongodb <new server IP>
#   > use errbit_production
#   > db.dropDatabase()
#   > db.copyDatabase("errbit_production", "errbit_production", "<old server ip>", "errbit_user", "<errbit user password>")
# You should now be able to see the DB locally:
#   > show dbs
#   admin  0.203125GB
#   errbit_production  3.9521484375GB
#   local  0.078125GB
---
- name: mongodb | Remove old MongoDB repository files
  ansible.builtin.file:
    path: "{{ item }}"
    state: absent
  loop:
    - /etc/apt/sources.list.d/mongodb*.list
    - /usr/share/keyrings/mongodb*.gpg

- name: mongodb | Download MongoDB 7.0 GPG key
  ansible.builtin.get_url:
    url: "https://pgp.mongodb.com/server-7.0.asc"
    dest: "/usr/share/keyrings/mongodb-server-7.0.gpg"
    mode: '0644'

- name: mongodb | Add MongoDB 7.0 repository (Jammy for 24.04)
  ansible.builtin.apt_repository:
    repo: >
      deb [ arch=amd64,arm64 signed-by=/usr/share/keyrings/mongodb-server-7.0.gpg ]
      https://repo.mongodb.org/apt/ubuntu jammy/mongodb-org/7.0 multiverse
    filename: mongodb-org-7.0
    state: present

- name: mongodb | Update apt cache
  ansible.builtin.apt:
    update_cache: yes

- name: mongodb | Install MongoDB
  ansible.builtin.apt:
    name: mongodb-org
    state: present

- name: mongodb | Load vars
  include_vars: ../vars/mongodb.yml

- name: Create data directory
  file:
    path: /mnt/mongodb/data
    state: directory
    owner: mongodb

- name: mongodb | Push default configuration template
  template:
    src=mongod.conf.j2
    dest=/etc/mongod.conf
    owner=root group=root mode=0644
  notify:
  - mongodb-restart
  tags: mongodb_config_file

- name: mongodb | Ensure daemon is running correctly
  service: name=mongod state=started daemon-reload=true

# This makes the mongodb_user module work (used below)
- name: mongodb | Install python package manager
  apt: pkg=python3-pip state=present

- name: mongodb | Install system-wide pymongo 4+ for MongoDB 7
  ansible.builtin.pip:
    name: "pymongo>=4"
    executable: pip3
    extra_args: "--break-system-packages"

- name: mongodb | Create admin database
  shell: mongosh {{ internal_ip_address }} --eval "db.getSiblingDB('admin');"

- name: mongodb | Add admin user
  mongodb_user:
    database: admin
    login_host: "{{ internal_ip_address }}"
    user: admin
    password: "{{ mongodb_admin_password }}"

- name: mongodb | Add app user
  mongodb_user:
    database: errbit_production
    login_host: "{{ internal_ip_address }}"
    login_user: admin
    login_password: "{{ mongodb_admin_password }}"
    user: errbit_user
    password: "{{ mongodb_user_password }}"

- name: mongodb | Increase ulimit
  lineinfile:
    dest: /etc/security/limits.conf
    line: "{{ item }}"
  with_items:
    - "root             soft    nofile          200000"
    - "root             hard    nofile          200000"
    - "deployuser       soft    nofile          200000"
    - "deployuser       hard    nofile          200000"
