---

- name: Certbot | Ensure snapd is installed
  ansible.builtin.apt:
    name: snapd
    state: present
    update_cache: true
  tags: certbot

- name: Certbot | Install Certbot via Snap
  ansible.builtin.shell:
    cmd: "snap install --classic certbot"
    creates: /snap/bin/certbot
  tags: certbot

- name: Certbot | Install certbot on Ubuntu 24
  ansible.builtin.apt:
    pkg:
      - python3-certbot-nginx
  tags: certbot

- name: Certbot | register the server
  ansible.builtin.command: certbot register --agree-tos -m devops@gitclear.com -n
  args:
    creates: /etc/letsencrypt/accounts
  tags: certbot

- name: Certbot | get certificates for Errbit domains
  ansible.builtin.command: "certbot --nginx -d {{ inventory_hostname }} -n"
  args:
    creates: "/etc/letsencrypt/live/{{ inventory_hostname }}"
  tags:
    - certbot
    - certbot_issue
  when: inventory_hostname in groups['errbit']

- name: Certbot | renew certificates
  ansible.builtin.command: certbot renew
  tags:
    - certbot
    - certbot_renew
